﻿body
{
    font-family: Arial;
    font-size: .9em;
    padding: 0px;
    margin: 0px;
}
.ErrorHandlingTitle
{
    font-weight: bold;
    font-size: 1.2em;
}
.ErrorHandlingAdminPage
{
    line-height: 1.4em;
}

.divRolesColumns
{
    float: left;
    border: dotted 1px #000000;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.divUsersTable
{
    border: dotted 1px #000000;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.divUserColumns
{
    border: dotted 1px #000000;
    padding: 5px;
    text-align: left;
    margin: 5px;
    float: left;
    line-height: 1.5em;
}
.divUserColumnsTitle
{
    font-weight: bold;
    text-align: center;
}

.divEmailItems
{
    float: left;
    padding: 10px;
    border: dotted 1px #000000;
    margin: 5px;
}

.divContent
{
    padding: 5px;
    border: solid 1px #E0F0FF;
    width: 300px;
    margin: 5px;
    float: left;
}
.divContent div
{
    background-color: #005AAD;
    padding: 5px;
}
.divContent a:link, .divContent a:visited
{
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding-right: 50px;
}

.ulNav
{
    list-style: none;
    margin-top: 5px;
}
.ulNav li
{
    display: inline;
}
.ulNav li a:link, .ulNav li a:visited
{
    margin: 20px 0px 10px 0px;
    padding: 10px;
    border: solid 1px #000000;
    text-decoration: none;
    color: #000000;
}
.ulNav li a:hover
{
    background-color: #005AAD;
    color: #FFFFFF;
    border: solid 1px #E0F0FF;
}

.links a:link, .links a:visited
{
    color: #000000;
    text-decoration: underline;
    font-weight: normal;
}

.ulList
{
    list-style: none;
}
.ulList li
{
}
.ulListSide li
{
    display: inline;
}

.adminTables
{
    width: 98%;
    border: solid 0px #FFFFFF;
    margin: 4px;
}
.atOdd
{
    background-color: #E0F0FF;
}


/* For All Gridviews */
.GridviewFull
{
    width: 98%;
    border: solid 0px #FFFFFF;
    margin: 4px;
}
.GridViewDefault
{
    border: solid 0px #FFFFFF;
    margin: 4px;
}
.GridviewFull tr td, .GridviewFull tr th, .GridViewDefault tr td, .GridViewDefault tr th
{
    padding: 3px;
}
.GridviewFooterStyle A:link, .GridviewFooterStyle A:visited, .GridviewFooterStyle
{
}
.GridviewRowStyle
{
    background-color: #E0F0FF;
}
.GridviewRowStyle A:link, .GridviewRowStyle A:visited
{
    color: #000000;
}
.GridViewAlternatingRowStyle
{
}
.GridViewAlternatingRowStyle A:link, .GridViewAlternatingRowStyle A:visited
{
    color: #000000;
}
.GridviewEditRowStyle, .GridviewEditRowStyle A:link, .GridviewEditRowStyle A:visited
{
    background-color: #ADD8FF;
    color: #000000;
}
.GridViewSelectedRowStyle
{
    background-color: #ADD8FF;
    color: #000000;
}
.GridViewSelectedRowStyle A:link, .GridViewSelectedRowStyle A:visited
{
    color: #000000;
}
.GridviewPagerStyle, .GridviewPagerStyle A:link, .GridviewPagerStyle A:visited
{
}
.GridviewHeaderStyle A:link, .GridviewHeaderStyle A:visited
{
}
.GridviewHeaderStyle
{
    background-color: #005AAD;
    color: #FFFFFF;
    padding: 5px;
}
.GridviewHeaderStyleRotateText A:link, .GridviewHeaderStyleRotateText A:visited
{
}
.GridviewHeaderStyleRotateText
{
}
.GridviewPagerStyle A:Hover, .GridViewAlternatingRowStyle A:Hover, .GridviewHeaderStyleRotateText A:Hover, .GridViewSelectedRowStyle A:Hover, .GridviewRowStyle A:Hover, GridviewEditRowStyle A:Hover, .GridviewHeaderStyle A:Hover
{
}

.divKingdomInfo
{
    margin-top: 30px;
}
.tbl
{
    border: solid 0px #FFFFFF;
    margin: 4px;
    width: 98%;
}
.tbl tr
{
    margin: 0px;
    padding: 3px;
}
.tbl tr td
{
    padding: 3px;
    text-align: center;
}
.tbl tr th
{
    padding: 3px;
    cursor: pointer;
    background-color: #005AAD;
    color: #FFFFFF;
    padding: 5px;
}
.tbl tr.d0 td
{
    background-color: #E0F0FF;
    color: #000000;
}
.tbl tr.d1 td
{
    color: #000000;
}
.tbl tfoot td
{
    text-align: center;
    padding: 2px;
}
.tblSelected
{
    background-color: #ADD8FF;
    color: #000000;
}
.spanLink
{
    text-decoration: underline;
    cursor: pointer;
}

/* Pager */
.pager
{
    margin: 8px 3px;
    padding: 3px;
}

.pager .disabled
{
    border: 1px solid #ddd;
    color: #999;
    margin-top: 4px;
    padding: 3px;
    text-align: center;
}

.pager .current
{
    background-color: #06c;
    border: 1px solid #009;
    color: #fff;
    font-weight: bold;
    margin-top: 4px;
    padding: 3px 5px;
    text-align: center;
}

.pager span, .pager a
{
    margin: 4px 3px;
}

.pager a
{
    border: 1px solid #c0c0c0;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
}
