﻿body { background-color: #000000; font-family: Arial; font-size: .9em; }
.footer { padding-bottom: 20px; width: 755px; padding-top: 10px; }
.websiteTitle { font-size: 1.6em; width: 722px; font-weight: bold; padding: 0px; margin: 0px; }
.pageTitle { font-size: 1.2em; padding: 10px; font-weight: bold; }
.sideTitle { border-top: 1px solid #FFFFFF; background-color: #505050; font-size: 1.2em; padding: 3px; font-weight: bold; }
.header { border-top: 1px solid #FFFFFF; background-color: #505050; padding: 5px; }

.divMainBuyPage{ border:1px solid #FFFFFF;  padding:10px; margin-top:10px;}

a:hover, a:active, a:link, a:visited { color: #FFFFFF; }
.blackL a:hover, .blackL a:active, .blackL a:link, .blackL a:visited { color: #000000; }
.showLink a:hover, .showLink a:active, .showLink a:link, .showLink a:visited { }
.search { top: 15px; position: absolute; right: 20px; }

.ulGenericHorList { list-style: none; padding: 0px; margin: 0px; }
.ulGenericHorList li { display: inline; padding: 0px; margin: 0px 2px 0px 0px; }
.ulList { list-style: none; padding: 0px; margin: 0px; }
.liList { display: inline-block; padding: 0px; margin: 0px 2px 0px 0px; }
.ulTopLinks { padding: 0px; margin: 5px 0px 0px 0px; }
.ulTopLinks li { display: inline-block; }
.ulItemList { list-style: none; margin: 5px 0px 0px 0px; padding: 0px; }
.liItemList { padding: 8px; margin: 0px 0px 20px 0px; border-bottom: 1px solid #FFFFFF; }
.ulTitleList { padding: 2px; list-style: none; margin: 5px 0px 0px 0px; }
.divTitleList { border-left: 1px solid #FFFFFF; background-color: #505050; padding: 4px; margin-top: 5px; color: yellow; text-decoration: none; }
.divBuyMeLink { padding:5px; text-align:center;}
.divBuyMeLink a:active,.divBuyMeLink a:link,.divBuyMeLink a:visited {  text-decoration:none; }
.divBuyMeLink a:hover { text-decoration:underline;}
.divBuyCardBG{ background-color:#000000; padding:10px; }

.liDescriptionList { text-align: center; font-size: 1.5em; font-weight: bold; }
.ulTagList { list-style: none; margin: 0px 0px 0px 0px; padding: 3px; }
.liTagList { padding: 2px; margin: 0px; }
.ulNextPrev { float: right; list-style: none; padding: 0px; margin: 0px 20px 0px 0px; }
.ulNextPrev li { display: inline; padding: 0px; margin: 0px 5px 0px 0px; }
.ulListToDo { padding: 10px; margin: 0px; }
.liListToDo { padding: 0px; margin: 0px 0px 5px 0px; }
.ulEvenWidths li { width: 200px; }



.divContent { border: 1px solid #FFFFFF; padding: 5px; }
.divIContent { padding: 10px; background-color: #FFFFFF; height: 500px; }
.divMain { width: 990px; margin: 5px auto 0 auto; position: relative; padding: 5px 16px 16px 16px; background-color: #000000; }
.divMainContent { width: 755px; float: left; }
.divSideContent { width: 225px; float: right; }
.divAddForm { margin-top: 10px; }
.divPosterList { background-color: #FFFFFF; position: relative; padding: 5px; width: 522px; float: right; height: 150px; color: #000000; }
.divPosterBottomList { left: 15px; bottom: 10px; position: absolute; }
.divPosterBottomTags { left: 15px; bottom: 30px; position: absolute; }
.divTags { color: #000000; margin: 5px; padding: 5px; border: 1px solid #FFFFFF; }
.divTagsInner { padding: 4px; background-color: #FFFFFF; }
.divBottomComment { font-size: .8em; margin-top: 4px; }

.imgC { max-width: 600px; }

.divPoster { margin-top: 25px; width: 730px; }
.divPosterInfo { float: left; margin-top: 0px; }
.divPosterBottom { width: 745px; height: 100px; margin-top: 10px; clear:both; }
.divLikeTags { margin-top:10px; margin-bottom:10px;}
.divComments { float: left; width: 300px; margin-top: 20px; padding: 4px; border: 1px solid #FFFFFF; }
.ulComments { list-style: none; padding: 0px; margin: 0px; }
.ulComments li { min-height: 20px; padding: 4px 4px 4px 4px; margin: 0px; border: 1px solid #000000; }
.ulContents { list-style: none; padding: 0px; margin: 0px; }
.ulContents li { min-height: 20px; padding: 4px 4px 4px 4px; margin: 0px; border: 1px solid #000000; }
.bgWhite { background-color: #FFFFFF; }
.PosterBottomBar { width: 730px; margin: 5px; margin-bottom: 10px; }

.divContent { width: 400px; float: right; padding: 4px; }
.divContentComment { margin-left: 35px; padding: 4px; }
.ulContVote { float: left; text-align: center; width: 30px; list-style: none; padding: 0px; margin: 0px; }
.ulContVote li { padding: 0px; margin: 0px; }


.divp { color: #000000; background-color: #FFFFFF; padding: 8px; }

.hdr { text-align: center; color: #FFFFFF; }

.tbOthers { padding: 3px; }
.tbTitle { width: 300px; padding: 5px; font-size: 1.1em; }
.tbDesc { width: 500px; padding: 5px; font-size: 1.1em; }
.tbFileLink { width: 200px; }
.tbTags { width: 600px; }

.taAddComment { min-height: 20px; width: 292px; }
.taAddContent { min-height: 20px; width: 392px; }

.btnComment { border: 1px solid #FFFFFF; color: #FFFFFF; background-color: #000000; cursor: pointer; }
.btnContent { text-align: center; border: 1px solid #FFFFFF; color: #FFFFFF; background-color: #000000; cursor: pointer; }

.spanFontLarger { font-size: 1.1em; }
.spanFontSmaller { font-size: .8em; }
.spanLink { cursor: pointer; padding: 0px; margin: 0px; text-decoration: underline; }


.bold { font-weight: bold; }
.floatRight { float: right; }
.color { color: #FFFFFF; }
.colorb { color: #000000; }
.centerMe { position: relative; margin: 0px 0px 0px 0px; }
.centerFont { text-align: center; }
.clear { clear: both; }
.hover { cursor: pointer; }
.twitter { position: absolute; right: 10px; top: 10px; }
.error { color: #FF0000; font-size: 1.2em; font-weight: bold; padding-left: 10px; }

.imgList { }
.imgExtras { }
.divItemListThumb { }

/* Pager */
.pager { margin: 8px 3px; padding: 3px; }
.pager .disabled { border: 1px solid #ddd; color: #999; margin-top: 4px; padding: 3px; text-align: center; }
.pager .current { background-color: #FFFFFF; border: 1px solid #FFFFFF; color: #000000; font-weight: bold; margin-top: 4px; padding: 3px 5px; text-align: center; }
.pager span, .pager a { margin: 4px 3px; }
.pager a { border: 1px solid #c0c0c0; padding: 3px 5px; text-align: center; text-decoration: none; }
