﻿body {
}

.color-black {
    color: black !important;
}

.color-header-link {
    color: #434343d9 !important;
}

.no-padding {
    padding: 0px !important;
}
.px-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.py-4 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.comment-section {
    background: 0 0;
    border: none;
    color: #262626;
    font-size: inherit;
    height: 18px;
    max-height: 80px;
    outline: none;
    padding: 0;
    resize: none;
}

.pr-0 {
    padding-right: 0px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pl-1 {
    padding-left: .25em !important;
}

.pl-2 {
    padding-left: .5em !important;
}

.pl-3 {
    padding-left: .75em !important;
}

.pl-4 {
    padding-left: 1em !important;
}

.pl-5 {
    padding-left: 2em !important;
}

.pt-2 {
    padding-top: .5em !important;
}

.pt-3 {
    padding-top: .75em !important;
}

.pt-4 {
    padding-top: 1em !important;
}

.pt-8 {
    padding-top: 8em !important;
}

.no-margin {
    margin: 0px !important;
}

.mt-1 {
    margin-top: .25em !important;
}

/*.border {
    align-items: center;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    margin-bottom: 12px; 
    max-height: 50px;
    padding-left: 0px;
}*/
.border-none {
    border:none !important;
}

.border-comment-bottom {
    border-bottom:1px solid #808080;
    padding-bottom:15px;
}
.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.font-normal {
    font-weight: normal;
}

.font-size-10 {
    font-size:10px !important;
}

.font-size-11 {
    font-size: 11px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.text-decoration-none {
    text-decoration: none !important;
}
.text-center {
    text-align: center !important;
}
.post-footer-color {
    background-color: #f8f8f8 !important;
    border-color: #ddd !important;
}

a, a:visited {
    color: #003569;
    text-decoration: none;
}

.post-padding {
    padding: 15px 0px 10px 0px !important;
}

.post-header-img {
    background-color: #fafafa;
    border-radius: 20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

.User-home-header-position {
    /*border-bottom: 1px solid;*/
    padding: 37px 0px 5px 0px;
    position: fixed;
    left: 730px;
}

.User-home-header-border {
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.User-home-text-position {
    position: fixed;
    left: 730px;
    /*bottom: 150px;*/
}

.User-home-img {
    background-color: #fafafa;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    float: left;
    position: relative;
    border: 1px solid #434343;
}

.btn-link {
    width: auto !important;
    margin: 0;
    padding: 0;
}

.link-image {
    /*max-width:20px;
            max-height: 20px;*/
}

.btn-link:hover {
    text-decoration: none !important;
}

.container {
    /*border: solid 1px #ff0000;*/
    zoom: 1; /* IE6&7 */
}

.container:before,
.container:after {
    content: "";
    display: table;
}

.container:after {
    clear: both;
}

.pointer {
    cursor: pointer;
}


@media (max-width:1280px) {
    .User-home-header-position {
        padding: 37px 0px 5px 0px;
        position: fixed;
        left: 650px;
    }
}

@media (max-width:1150px) {
    .User-home-header-position {
        padding: 37px 0px 5px 0px;
        position: fixed;
        left: 600px;
    }
}

@media (max-width:1050px){
    .User-home-header-position {

        padding: 37px 0px 5px 0px;
        position: fixed;
        left: 530px;
    }

}
@media (max-width:940px) {
    .User-home-header-position {
        padding: 37px 0px 5px 0px;
        position: fixed;
        left: 500px;
    }
}
@media (max-width:875px) {
    .User-home-header-position {
        padding: 37px 0px 5px 0px;
        position: fixed;
        left: 450px;
    }
}
@media (max-width:810px) {
    .User-home-header-position {
        padding: 37px 0px 5px 0px;
        position: fixed;
        left: 420px;
    }
}