﻿body {
    padding-top: 70px;
    /*background-color: white!important;*/
}

#header-title {
    color: #0099ff;
}

.container, .navbar {
    background-color: white!important;
}

.posts {
    /*margin-left: 20%;
    margin-right: 20%;*/
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

.panel-heading {
    height: 60px;
    font-weight: bold;
    padding: 3.5%;
}

.panel-body {
    padding: 0!important;
    margin: 0!important;
}

.image-container {
    max-height: 600px;
    width: 100%;
}

.post-image {
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    max-height:600px;
}

.margin-top {
    margin-top: 30px;
}

.right {
    /*text-align: right;*/
    float: right;
}

.left {
    text-align: left;
    float: left;
}


@media (min-width:320px) {

    .container {
        padding: 0;
        margin: 0;
        left: 0;
        right: 0;
    }

    .posts {
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .panel-heading {
        background-color: #f8f8f8 !important;
        border: 1px solid #ddd;
    }

    .panel {
        border: 0px solid transparent;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
        background-color: #fcfcfc !important;
    }
}

@media (min-width:481px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .posts {
        /*margin-left: 20%;
         margin-right: 20%;*/
        width: 100%;
        margin: 0 auto;
        max-width: 600px;
    }

    .panel-heading {
        background-color: #f8f8f8 !important;
        border: 1px solid #ddd;
    }

    .panel-body {
        border: 0px solid transparent;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
        background-color: #fcfcfc !important;
    }
}

@media (min-width:641px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .posts {
        /*margin-left: 20%;
         margin-right: 20%;*/
        width: 100%;
        margin: 0 auto;
        max-width: 600px;
    }

    .panel-heading {
        background-color: #f8f8f8 !important;
    }

    .panel-body {
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
        background-color: #fcfcfc !important;
    }
}

@media (min-width:961px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .posts {
        /*margin-left: 20%;
         margin-right: 20%;*/
        width: 100%;
        /*margin: 0 auto;*/
        margin: 0 10px;
        max-width: 600px;
    }

    .panel-heading {
        background-color: #f8f8f8 !important;
    }

    .panel-body {
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
        background-color: #fcfcfc !important;
    }
}

@media (min-width:1025px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .posts {
        /*margin-left: 20%;
         margin-right: 20%;*/
        width: 100%;
        /*margin: 0 auto;*/
        margin: 0 60px !important;
        max-width: 600px;
    }

    .panel-heading {
        background-color: #f8f8f8 !important;
    }

    .panel-body {
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
        background-color: #fcfcfc !important;
    }
}

@media (min-width:1281px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .posts {
        /*margin-left: 20%;
         margin-right: 20%;*/
        width: 100%;
        /*margin: 0 auto;*/
        margin: 0px 80px !important;
        max-width: 600px;
    }

    .panel-heading {
        background-color: #f8f8f8 !important;
    }

    .panel-body {
        border: 1px solid #ddd;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
        background-color: #fcfcfc !important;
    }
}
