﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>
<div class="bubbleInfo divVote" id="bubbleInfo">
    <ul class="ulVote  trigger">
        <li>
            <img onclick="VoteStoryUp('<%: item.ID %>')" class="spanLink" width="30px" src="http://codingforcharity.org/itfeelslike/img/up-off.png" /></li>
        <li class="voteCount">0</li>
       </ul>
     <ul class="ulFavorite trigger">
        <li>
            <img class="spanLink" width="30px" src="http://codingforcharity.org/itfeelslike/img/star-off.png" /></li>
        <li class="favoriteCount">0</li>
    </ul>
    <%--<div class="popup">
        Please Login to Vote
    </div>--%>
</div>

    <%--<div class="popup">
        Please <asp:LoginStatus ID="LoginStatus1" runat="server" LoginText="Login or Register" /> to use Favorites
        
    </div>--%>

